.progress-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30%;
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 15px;
    margin:auto;
    padding: 3%;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .progress.card-container:hover {
    transform: scale(1.05);
  }