body{
    background-color:#3383f1;
}

.one-event table{
    width: 44vw;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    background-color:#3383f1;}


.one-event th, tr{    
    text-align: center;
    font-weight: normal;
    background-color:#3383f1;
}
.one-event th{    
    width: 50%;
}

.one-event-tables:hover{
    transform: scale(1.02);
}

.one-event-tables{    
    background-color:#3383f1;
    border-radius: 20px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;  
}

.one-event{
    margin-top: 1vh;
}
@media screen and (max-width:600px) {
 .one-event table{
     width: 80vw;
 }  
 .one-event{
     align-content: center;
 }
}