body{
    background-color:rgb(255, 255, 255);
}

.one-event table{
    max-width: 30vw;
    width: 30vw;
    border-collapse: collapse;
    overflow: hidden;
    color: rgb(26, 2, 133);
    background-color:rgb(255, 255, 255);
}
.label-container{
    
    max-width: 30vw;
    width: 30vw;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;    
    background-color:rgb(255, 255, 255);
    
}
.one-event th, tr{    
    text-align: center;
    font-weight: normal;
    background-color:rgb(255, 255, 255);
}

.one-event th{    
    width: 50%;
}

.one-event-tables:hover{
    transform: scale(1.01);
}

.one-event-tables{    
    background-color:rgb(255, 255, 255);
    transform: translateZ(0);
    transition: transform 0.25s ease-out;  
    box-shadow: inset -1px 3px 8px 5px #979797, 2px 5px 16px 0px #858585, 5px 5px 15px 5px rgba(105, 105, 105, 0);
}

.one-event{
    margin-top: 1vh;
    border-radius: 5px;
}


@media screen and (max-width:600px) {
 .one-event table{
     width: 80vw;
 }  
 .one-event{
     align-content: center;
 } 
}