body{
    background-color: ghostwhite;
}
.one-event{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vh;
}

.one-event table{
    width: 80vw;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    background-color:rgb(235, 234, 255);  
}

.one-event-tables:hover{
    transform: scale(1.05);
}

.one-event-tables{
    background-color:rgb(235, 234, 255);
    border-radius: 20px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;  
}

.one-event th, tr{
    text-align: center;
    font-weight: normal;
    background-color:rgb(235, 234, 255);
}