.events-of-the-day{
    text-align: center;
    align-items: center;
}
.events-of-the-day h1{
    font-size: 25vw;
}
body{
    background-color: ghostwhite;
}
.one-day{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vh;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .one-day{
        width: 80vw;
        flex-direction: column;
        margin: auto;
    }  
   }