.events-of-the-week{
}

.week-day{
    background-color: rgb(202, 193, 255);
    width: 90vw;
    margin-top: 1vh;
    margin-left: 5vw;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    min-height:15vh;
}
.weekday-events{
    background-color:rgb(231, 230, 255);    
    font-weight: normal;
    width: 89vw;
    min-height:11vh; 
    border-radius: 15px;
    margin:auto;
}