.searchbox {
  display: flex;
}

.colorPickerBtn {
  display: flex;
  margin: 0 auto;
}

.submitBtn {
  margin-top: 20px;
}

.addNewLabelBtn {
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}
