.select-intervall{
    display:flex;
    flex-direction: row;
}
.select-intervall Button{
    background: transparent;
    color: ghostwhite;
    border: 1px solid #00dcc7;
    border-radius:7px;  
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-out;
    margin-left: 1vw;
}
.select-intervall Button:hover{
    color: #00dcc7;
}
.select-intervall Button:active{
    transform: scale(0.9); 
}
.logout{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:1vh;
}
.worker-avatar-popover{
    position: absolute;
    left:95vw;
    top:2vh;
}